@page
@model TejoStatsCore.Pages.PerJaar8870Model
@{
    ViewData["Title"] = "Tejo Izegem";
}

<head>
    <link rel="stylesheet" href="~/Styles/Tejo.css">
</head>

<div class="text-center">
    <h1 class="display-4">Tejo Izegem</h1>
    <p>
        Welkom op de pagina van Tejo Izegem, <br />
        op deze pagina kan je gegevens opvragen per jaar
    </p>

</div>




<form method="get">
    <div class="form-group-container">
        <!-- Vervang het start- en einddatum veld door een enkel jaartal veld -->
        <div class="form-group">
            <label for="year">Jaar:</label>
            <input type="number" id="year" name="year" class="form-control" required min="2023" />
        </div>
        <div class="form-group">
            <label for="huis" class="sr-only">Huis:</label>
            <input type="text" id="huis" name="huis" class="form-control" readonly value="Izegem" required />
        </div>
        <button type="submit" class="btn btn-primary">Zoeken</button>
    </div>
</form>


@if (Model.CountIntakes != null && Model.CountIntakeType != null && Model.CountGender != null &&
       Model.CountAge != null && Model.CountCity != null && Model.CountCountry != null &&
           Model.CountDoorverwijzer != null && Model.CountDooverwezen != null && Model.CountProblems != null &&
               Model.CountSchoolWerk != null && Model.CountWoon != null && Model.CountTherapeut != null &&
                   Model.CountAanwezig != null && Model.CountAfwezig != null && Model.CountGemiddlede != null)
{
    <h3>Resultaten</h3>
    <div class="table-grid">
        <div class="table-container">
            <table class="table">
                <caption>Telt het totale aantal intakes van de voorbije periode</caption>
                @if (Model.CountIntakes.Rows.Count > 0)
                {
                    <thead>
                        <tr>
                            @foreach (System.Data.DataColumn column in Model.CountIntakes.Columns)
                            {
                                <th>@column.ColumnName</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in Model.CountIntakes.Rows)
                        {
                            <tr>
                                @foreach (var item in row.ItemArray)
                                {
                                    <td>@item</td>
                                }
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tr><td>Geen resultaten gevonden.</td></tr>
                }
            </table>
        </div>

        <div class="table-container">
            <table class="table">
                <caption>Telt het aantal intakes en spontane intakes van de voorbije periode</caption>
                @if (Model.CountIntakeType.Rows.Count > 0)
                {
                    <thead>
                        <tr>
                            @foreach (System.Data.DataColumn column in Model.CountIntakeType.Columns)
                            {
                                <th>@column.ColumnName</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in Model.CountIntakeType.Rows)
                        {
                            <tr>
                                @foreach (var item in row.ItemArray)
                                {
                                    <td>@item</td>
                                }
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tr><td>Geen resultaten gevonden.</td></tr>
                }
            </table>
        </div>

        <div class="table-container">
            <table class="table">
                <caption>Aantal jongeren per gender</caption>
                @if (Model.CountGender.Rows.Count > 0)
                {
                    <thead>
                        <tr>
                            @foreach (System.Data.DataColumn column in Model.CountGender.Columns)
                            {
                                <th>@column.ColumnName</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in Model.CountGender.Rows)
                        {
                            <tr>
                                @foreach (var item in row.ItemArray)
                                {
                                    <td>@item</td>
                                }
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tr><td>Geen resultaten gevonden.</td></tr>
                }
            </table>
        </div>

        <div class="table-container">
            <table class="table">
                <caption>Aantal jongeren per leeftijdsgroep</caption>
                @if (Model.CountAge.Rows.Count > 0)
                {
                    <thead>
                        <tr>
                            @foreach (System.Data.DataColumn column in Model.CountAge.Columns)
                            {
                                <th>@column.ColumnName</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in Model.CountAge.Rows)
                        {
                            <tr>
                                @foreach (var item in row.ItemArray)
                                {
                                    <td>@item</td>
                                }
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tr><td>Geen resultaten gevonden.</td></tr>
                }
            </table>
        </div>

        <div class="table-container">
            <table class="table">
                <caption>Aantal jongeren per stad waar ze wonen</caption>
                @if (Model.CountCity.Rows.Count > 0)
                {
                    <thead>
                        <tr>
                            @foreach (System.Data.DataColumn column in Model.CountCity.Columns)
                            {
                                <th>@column.ColumnName</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in Model.CountCity.Rows)
                        {
                            <tr>
                                @foreach (var item in row.ItemArray)
                                {
                                    <td>@item</td>
                                }
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tr><td>Geen resultaten gevonden.</td></tr>
                }
            </table>
        </div>

        <div class="table-container">
            <table class="table">
                <caption>Aantal jongeren per land van herkomst. Jongeren uit België werden niet opgenomen</caption>
                @if (Model.CountCountry.Rows.Count > 0)
                {
                    <thead>
                        <tr>
                            @foreach (System.Data.DataColumn column in Model.CountCountry.Columns)
                            {
                                <th>@column.ColumnName</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in Model.CountCountry.Rows)
                        {
                            <tr>
                                @foreach (var item in row.ItemArray)
                                {
                                    <td>@item</td>
                                }
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tr><td>Geen resultaten gevonden.</td></tr>
                }
            </table>
        </div>

        <div class="table-container">
            <table class="table">
                <caption>Wie verwees de jongere door naar Tejo</caption>
                @if (Model.CountDoorverwijzer.Rows.Count > 0)
                {
                    <thead>
                        <tr>
                            @foreach (System.Data.DataColumn column in Model.CountDoorverwijzer.Columns)
                            {
                                <th>@column.ColumnName</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in Model.CountDoorverwijzer.Rows)
                        {
                            <tr>
                                @foreach (var item in row.ItemArray)
                                {
                                    <td>@item</td>
                                }
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tr><td>Geen resultaten gevonden.</td></tr>
                }
            </table>
        </div>

        <div class="table-container">
            <table class="table">
                <caption>Als de sessies afgerond zijn, werd de jongere al dan niet doorverwezen</caption>
                @if (Model.CountDooverwezen.Rows.Count > 0)
                {
                    <thead>
                        <tr>
                            @foreach (System.Data.DataColumn column in Model.CountDooverwezen.Columns)
                            {
                                <th>@column.ColumnName</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in Model.CountDooverwezen.Rows)
                        {
                            <tr>
                                @foreach (var item in row.ItemArray)
                                {
                                    <td>@item</td>
                                }
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tr><td>Geen resultaten gevonden.</td></tr>
                }
            </table>
        </div>

        <div class="table-container">
            <table class="table">
                <caption>Met welke problematieken komen jongeren tot bij ons</caption>
                @if (Model.CountProblems.Rows.Count > 0)
                {
                    <thead>
                        <tr>
                            @foreach (System.Data.DataColumn column in Model.CountProblems.Columns)
                            {
                                <th>@column.ColumnName</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in Model.CountProblems.Rows)
                        {
                            <tr>
                                @foreach (var item in row.ItemArray)
                                {
                                    <td>@item</td>
                                }
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tr><td>Geen resultaten gevonden.</td></tr>
                }
            </table>
        </div>

        <div class="table-container">
            <table class="table">
                <caption>Naar welke schoolrichting gaan de jongeren, of werken ze reeds</caption>
                @if (Model.CountSchoolWerk.Rows.Count > 0)
                {
                    <thead>
                        <tr>
                            @foreach (System.Data.DataColumn column in Model.CountSchoolWerk.Columns)
                            {
                                <th>@column.ColumnName</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in Model.CountSchoolWerk.Rows)
                        {
                            <tr>
                                @foreach (var item in row.ItemArray)
                                {
                                    <td>@item</td>
                                }
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tr><td>Geen resultaten gevonden.</td></tr>
                }
            </table>
        </div>

        <div class="table-container">
            <table class="table">
                <caption>Wat is de woonsituatie van de jongeren</caption>
                @if (Model.CountWoon.Rows.Count > 0)
                {
                    <thead>
                        <tr>
                            @foreach (System.Data.DataColumn column in Model.CountWoon.Columns)
                            {
                                <th>@column.ColumnName</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in Model.CountWoon.Rows)
                        {
                            <tr>
                                @foreach (var item in row.ItemArray)
                                {
                                    <td>@item</td>
                                }
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tr><td>Geen resultaten gevonden.</td></tr>
                }
            </table>
        </div>

        <div class="table-container">
            <table class="table">
                <caption>Hoeveel Jongeren kwamen er langs per therapeut</caption>
                @if (Model.CountTherapeut.Rows.Count > 0)
                {
                    <thead>
                        <tr>
                            @foreach (System.Data.DataColumn column in Model.CountTherapeut.Columns)
                            {
                                <th>@column.ColumnName</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in Model.CountTherapeut.Rows)
                        {
                            <tr>
                                @foreach (var item in row.ItemArray)
                                {
                                    <td>@item</td>
                                }
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tr><td>Geen resultaten gevonden.</td></tr>
                }
            </table>
        </div>

        <div class="table-container">
            <table class="table">
                <caption>Het aantal (gegroepeerde) aanwezige sessies van de jongere</caption>
                @if (Model.CountAanwezig.Rows.Count > 0)
                {
                    <thead>
                        <tr>
                            @foreach (System.Data.DataColumn column in Model.CountAanwezig.Columns)
                            {
                                <th>@column.ColumnName</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in Model.CountAanwezig.Rows)
                        {
                            <tr>
                                @foreach (var item in row.ItemArray)
                                {
                                    <td>@item</td>
                                }
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tr><td>Geen resultaten gevonden.</td></tr>
                }
            </table>
        </div>

        <div class="table-container">
            <table class="table">
                <caption>Het aantal afwezige sessies van de jongere</caption>
                @if (Model.CountAfwezig.Rows.Count > 0)
                {
                    <thead>
                        <tr>
                            @foreach (System.Data.DataColumn column in Model.CountAfwezig.Columns)
                            {
                                <th>@column.ColumnName</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in Model.CountAfwezig.Rows)
                        {
                            <tr>
                                @foreach (var item in row.ItemArray)
                                {
                                    <td>@item</td>
                                }
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tr><td>Geen resultaten gevonden.</td></tr>
                }
            </table>
        </div>

        <div class="table-container">
            <table class="table">
                <caption>Het gemiddelde aantal sessies en gemiddeld aantal weken van de voorbij periode</caption>
                @if (Model.CountGemiddlede.Rows.Count > 0)
                {
                    <thead>
                        <tr>
                            @foreach (System.Data.DataColumn column in Model.CountGemiddlede.Columns)
                            {
                                <th>@column.ColumnName</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in Model.CountGemiddlede.Rows)
                        {
                            <tr>
                                @foreach (var item in row.ItemArray)
                                {
                                    <td>@item</td>
                                }
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tr><td>Geen resultaten gevonden.</td></tr>
                }
            </table>
        </div>
    </div>
}



<script>
    // JavaScript om het max attribuut in te stellen op het huidige jaar
    document.getElementById('year').max = new Date().getFullYear();
</script>

